html {
  color: #333;
  font-family: "Constantia", "Lucida Bright", "Lucidabright", "Lucida Serif", "Lucida",
  "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", "Georgia", serif;
  font-size: 18px;
  line-height: 1.4;
  margin: 0.5rem auto;
  max-width: 50rem;
  padding: 0 0.5rem;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 40.063em) {
  body {
    font-size: 112.5%;
    margin: 1rem auto;
  }
}

h1 {
  font-size: 1.953rem;
}

h2 {
  font-size: 1.563rem;
}

h3 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
.sti-art,
.sti-div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
  "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica",  "Fira Sans",
  "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium",
  "Century Gothic", "Liberation Sans", sans-serif;
  display: block;
  font-style: italic;
  text-align: center;
}

h2,
h3 {
  font-weight: normal;
}

.sti-art,
.sti-div {
  font-style: normal;
  font-weight: bold;
}

.sti-div {
  font-size: 1.25rem;
}

.sti-art {
  font-size: 1rem;
}

.page-title {
  font-size: 1.563rem;
  font-style: normal;
  font-weight: normal;
}

.uppercase {
  text-transform: uppercase;
}

.intro {
  border-bottom: 2px solid #D3D3D3;
}

ol,
ul {
  list-style-type: none;
}

body > ul,
body > .footnotes > ul {
  padding-left: 0;
}

body > ul > li {
  margin-bottom: 1rem;
}

body > ul > li > ul > li,
body > ul > li > ul > li > ul > li
 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

body > ul > li > ul,
body > ul > li > ul > li > ul,
 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

section.footnotes {
  border-top: 1px solid #D3D3D3;
  margin-top: 1rem;
}