html {
  color: #333;
  font-family: "Constantia", "Lucida Bright", "Lucidabright", "Lucida Serif", "Lucida",
  "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", "Georgia", serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0.5rem auto;
  max-width: 50rem;
  padding: 0 0.5rem;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 1rem;
}

@media only screen and (min-width: 40.063em) {
  body {
    font-size: 125%;
    margin: 1rem auto;
  }

  ul {
    padding-left: 2rem;
  }
}

nav {
  display: block;
  text-align: center;
}

h1,
h2 {
  font-size: 1.563rem;
}

h3 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
.sti-art,
.sti-div,
.recital-list,
nav {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
  "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica",  "Fira Sans",
  "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium",
  "Century Gothic", "Liberation Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  display: block;
  font-style: italic;
  text-align: center;
}

h2,
h3 {
  font-weight: normal;
}

.articles h3 {
  margin-bottom: 0.75rem;
}

.sti-art,
.sti-div {
  display: block;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.sti-div {
  font-size: 1.25rem;
}

.sti-art {
  font-size: 1rem;
}

.page-title {
  font-style: normal;
  font-weight: normal;
}

.uppercase {
  text-transform: uppercase;
}

.intro {
  border-bottom: 2px solid #D3D3D3;
}

ol,
ul {
  list-style-type: none;
}

main > ul,
main > .footnotes > ul {
  padding-left: 0;
}

main > ul > li {
  margin-bottom: 1.5rem;
}

main ul li ul,
main ul li ul li
{
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.footnotes {
  border-top: 2px solid #D3D3D3;
  margin-top: 1rem;
}

.footnotes ol {
  list-style-type: decimal;
}